:root {
    --pokedex-background: #dd0b30;
    --pokedex-gradient: linear-gradient(160deg, rgba(221,11,48,1) 0%, rgba(224,28,28,1) 42%, rgba(230,38,38,1) 78%);
    --pokedex-border: #7f0512;
    --pokemon-font: "PokemonSolid";
    --font: "Moltors";
    --text-color: #222222;
    --stats-background: #222222;
    --stats-text-color: #dddddd; 
    --img-gradient: linear-gradient(325deg, rgba(85,85,85,1) 0%, rgba(164,164,164,1) 42%, rgba(221,221,221,1) 78%);
}

* {
    margin: 0; 
    padding: 0;
}

body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: var(--font), Arial, Helvetica, sans-serif;
}

/* header */
header {
    font-size: 1.2rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img {
    width: 8rem;
}

.pokemon-name {
    font-family: var(--pokemon-font), Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

/* main */
main {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-bottom: 30px;
}

/* navigation buttons */
#previous, #next {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 20px);
    background-color: var(--pokedex-background);
    border: 2px solid var(--pokedex-border)
}

#previous {
    left: 25%;
}

#next {
    right: 25%;
}

button {
    cursor: pointer;
}

/* pokedex */
#pokedex {
    border: 1px solid black;
    min-height: 400px;
    min-width: 500px;
    background: var(--pokedex-gradient);
    color: var(--text-color);
    margin-top: 30x;
    border: 4px solid var(--pokedex-border);
    border-radius: 10px;
}

/* searchbar */
#searchbar {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    background-color: var(--pokedex-border);
}

#searchbar label {
    font-size: 1.25rem;
    font-family: "MoltorsPunch", Arial, Helvetica, sans-serif;
    color: var(--stats-text-color);
}

#pokemon-search {
    padding-left: 5px;
    height: 20px;
}

/* pokemon info */
#pokemon-id-name {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.pokemon-id {
    background-color: var(--stats-text-color);
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--stats-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 0 15px;
}

.pokemon-name {
    letter-spacing: 1.2;
}

/* image */
#pkm-img {
    background: var(--img-gradient);
    border: 2px solid var(--pokedex-border);
    border-radius: 5px;
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#pkm-img:hover img {
    scale: 1.25;
    filter: contrast(1.5);
}

#pkm-img img {
    height: 100%;
    transition: .3s;
}

/* types */
#type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#type-p {
    margin-left: 50px;
    font-size: 1.3rem;
}

.type {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--stats-text-color);
    border: 2px solid var(--pokedex-border);
    border-radius: 5px;
    height: 40px;
    min-width: 110px;
    padding: 2px 10px 2px 0;
}

.type span {
    width: 80%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.type img {
    height: 100%;
}

/* statistics */
#pkm-stats {
    width: 90%;
    min-height: 200px;
    background-color: var(--stats-background);
    color: var(--stats-text-color);
    margin: 20px auto;
    border-radius: 20px;
    border: 3px solid var(--stats-text-color);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pkm-stats > div > p {
    font-size: 1.25rem;
    text-decoration: underline;
}

#pkm-stats li {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: white;
}

/* responsive */
@media screen and (max-width: 1225px) {
    
}