:root {
    /* colors */
    --pokedex-background: #fe1a55;
    --pokedex-backrgound-two: #ca215a;
    --pokedex-border: #481557;
    --pokedex-highlight: #fc9074;
    --text-color: #222222;

    --pokedex-img-backrgound: #00d7fc;
    --pokedex-img-background-two: #00e6fe;
    --pokedex-img-gradient: ;

    --buttton-red: #fe1a55;
    --button-blue: #00aaf7;
    --button-green: #2ff453;
    --buttton-yellow: #f8ed5f;
    --button-orange: #fa8e55;
    --button-black: #0c1a57;
    --button-white: #f2f4e7;
    --button-grey: #152a59;
    --highlights: #fdfbfb;
    --blue-highlight: #70e0e0;

    --stats-background: #0c1a57;
    --stats-background-two: #294e61;
    --stats-gradient: ;
    --stats-text-color: #dddddd; 

    /* text */
    --pokemon-name-font: "PokemonSolid";
    --pokemon-name-spacing: 3px;
    --font: "Moltors";
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: var(--font), Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

/* header */
header {
    font-size: 1.2rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img {
    width: 5em;
}

.pokemon-name {
    font-family: var(--pokemon-font), Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

/* main */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-bottom: 30px;
}

/* pokedex */
#pokedex {

}

/* pokedex left */
#pokedex-left {
    min-height: 400px;
    min-width: 400px;
    background: var(--pokedex-backrgound-two);
    color: var(--text-color);
    border-radius: 5px 0 0 15px;
    box-shadow: 0px 25px 0px var(--pokedex-border);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* pokedex left header */
#pokedex-left-header {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}

#header-band {
    height: 55px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--pokedex-background);
    box-shadow: 0px 10px 0px var(--pokedex-border);
}

#header-square {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--pokedex-background);
}

#header-skew {
    height: 100px;
    width: 200px;
    transform: skewX(-60deg);
    background-color: var(--pokedex-background);
    position: absolute;
    bottom: 0;
    left: 15px; 
    border-radius: 0 0 10px 0;
    box-shadow: 24px 10px 0px var(--pokedex-border);
}

#big-circle {
    height: 80px;
    width: 80px;
    background-color: var(--button-white);
    position: absolute;
    top: calc(50% - 40px);
    left: 25px; 
    border-radius: 50%;
    border: 3px solid var(--button-white);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner-circle {
    height: 80%;
    width: 80%;
    border: 3px solid var(--button-grey);
    border-radius: 50%;
    background: radial-gradient(circle at 0% 0%, var(--pokedex-img-backrgound) 70%, #088297 100%);
    position: relative;
}

#inner-circle div:first-of-type {
    height: 15px;
    width: 25px;
    transform: rotate(-45deg);
    border: 2px solid var(--button-white);
    background-color: var(--blue-highlight);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 3px;
}

#inner-circle div:last-of-type {
    height: 8px;
    width: 10px;
    transform: rotate(-45deg);
    border: 1px solid var(--button-white);
    background-color: var(--blue-highlight);
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 25px;
}

#header-lights {
    width: 150px;
    height: 40px;
    z-index: 40;
    position: absolute;
    top: 10px;
    left: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#header-lights div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--button-grey);
}

#header-lights div:first-of-type {
    background: radial-gradient(circle at 25% 25%, var(--highlights) 5%, var(--buttton-red) 6%, var(--buttton-red) 60%, #aa0632 61%);
}

#header-lights div:nth-of-type(2) {
    background: radial-gradient(circle at 25% 25%, var(--highlights) 5%, var(--buttton-yellow) 6%, var(--buttton-yellow) 60%, #c0b409 61%, #c0b409 100%);
}

#header-lights div:nth-of-type(3) {
    background: radial-gradient(circle at 25% 25%, var(--highlights) 5%, var(--button-green) 6%, var(--button-green) 60%, #0ba728 61%, #0ba728 100%);
}

/* pokedex-left-container */
#pokedex-left-container {
    min-width: 95%;
    min-height: 95%;
    box-sizing: border-box;
    border: 4px solid var(--pokedex-border);
    border-radius: 5px 0 0 15px;
}

/* searchbar */
#searchbar {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    background-color: var(--pokedex-border);
}

#searchbar label {
    font-size: 1.25rem;
    font-family: "MoltorsPunch", Arial, Helvetica, sans-serif;
    color: var(--stats-text-color);
}

#pokemon-search {
    padding-left: 5px;
    height: 20px;
}

/* pokemon info */
#pokemon-id-name {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.pokemon-id {
    background-color: var(--stats-text-color);
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--stats-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 0 15px;
}

.pokemon-name {
    letter-spacing: 1.2;
}

/* image */
#pkm-img {
    background: var(--img-gradient);
    border: 2px solid var(--pokedex-border);
    border-radius: 5px;
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#pkm-img:hover img {
    scale: 1.25;
    filter: contrast(1.5);
}

#pkm-img img {
    height: 100%;
    transition: .3s;
}

/* types */
#type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#type-p {
    margin-left: 50px;
    font-size: 1.3rem;
}

.type {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--stats-text-color);
    border: 2px solid var(--pokedex-border);
    border-radius: 5px;
    height: 40px;
    min-width: 110px;
    padding: 2px 10px 2px 0;
}

.type span {
    width: 80%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.type img {
    height: 100%;
}

/* statistics */
#pkm-stats {
    width: 90%;
    min-height: 200px;
    background-color: var(--stats-background);
    color: var(--stats-text-color);
    margin: 20px auto;
    border-radius: 20px;
    border: 3px solid var(--stats-text-color);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pkm-stats > div > p {
    font-size: 1.25rem;
    text-decoration: underline;
}

#pkm-stats li {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: white;
}

/* responsive */
@media screen and (max-width: 1225px) {
    
}