:root {
    --pokedex-background: #dd0b30;
    --pokedex-border: #7f0512;
    --pokemon-font: "PokemonHollow";
    --text-color: #222222;
    --stats-background: #222222;
    --stats-text-color: #dddddd; 
}

* {
    margin: 0; 
    padding: 0;
}

body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* header */
header {
    text-align: center;
    font-size: 1.2rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img {
    width: 8rem;
}

.pokemon-name {
    font-family: var(--pokemon-font), Arial, Helvetica, sans-serif;
}

/* main */
main {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

#previous, #next {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 20px);
}

/* navigation buttons */
#previous {
    left: 15%;
}

#next {
    right: 15%;
}

button {
    cursor: pointer;
}

/* pokedex */
#pokedex {
    border: 1px solid black;
    height: auto;
}

/* footer */
footer {
    text-align: center;
}