@font-face {
    font-family: 'Moltors';
    src: url('fonts/Moltors-nRzoY.otf') format('otf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'MoltorsPunch';
    src: url('fonts/MoltorsPunch-owzYd.otf') format('otf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'PokemonHollow';
    src: url('fonts/Pokemon_Hollow.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('fonts/Pokemon_Solid.ttf') format('woff2');
    font-weight: normal;
    font-style: normal; 
}